* {
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

#profile {
    width: ;
    margin: 50px;
    padding-right: 40px;  
}

#profile p a {
    color: white;
    font-size: 15px;
    text-decoration: none;
}



.goal-section {
    width: 500px;
    margin-right: 60px;
    margin-top: 60px;
    padding-top: 60px;
    
}

.logo {
    margin-top: 20px;
    margin-bottom: 50px;;
    color: red;
    font-size: 20px;
}

div ul li {
    padding-top: 18px;
}

footer div {
    display: flex;
    margin-left: 30px;
    margin-top: 50px;
    padding-left: 60px;
}

footer div p a {
    padding-right: 20px;
    color: white; 
}


@media (min-width: 768px) {
    
}